.imagesAnalysis-TitleDescription-info {
    font-style: italic;
    margin: 10px 0 5px 27px;
}

.imagesAnalysis-TitleDescription {
    font-style: italic;
    color: rgba(52, 67, 78, 0.7);
}
.imagesAnalysis-TitleDescription-table table img{
    max-width: 50px;
}
.imagesAnalysis-TitleDescription-info{
    margin-left: 20px;
    font-weight: 700;
}
.imageAnalysis-table .table-header{
    background: #37A1E4;
}

@media screen and (max-width: 800px){
    .imagesAnalysis-TitleDescription-table{
        margin-left: 0;
    }
}
.imageAnalysis-link-cell{
    word-break: break-all;
}
.imageAnalysis-size-cell{
    white-space: nowrap;
}