<div class="container-initialIndicator">
    <div class="header-initialIndicators">
        <div class="row">
            <h4><strong class="header-initial">Lending page SEO audit </strong>
                <small>{{vm.model.created_at}}</small>
            </h4>
            <a href="{{vm.model.url}}" target="_blank">{{vm.model.url}}</a>
        </div>

        <div class="row buttonContainer-initialIndicator">
            <div class="btn-group">
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="true">
                    <span class="glyphicon glyphicon-print" aria-hidden="true"></span> Export
                    <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
                </button>
                <ul class="dropdown-menu pdf-popup" aria-labelledby="dropdownMenu1">
                    <li ng-click="vm.openPDFPopup()">Download PDF</li>
                    <li ng-click="vm.openSentEmail()">Sent over e-mail</li>
                </ul>
            </div>

            <button type="button" class="btn btn-success" ng-disabled="vm.reloadDisabled" ng-click="vm.reload()">Re-check
                <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-body">
                <h4><strong>Keyword analyzed:</strong> <span class="keywords">{{vm.model.keyword}}</span></h4>
            </div>
        </div>

    </div>

    <!--diagram-->
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-body containerInitialIndicator">
                <div class="OverallScope ">
                    <h3 class="header-OverallScope">Overall score: <span class="success">{{vm.model.percent}}</span>%</h3>
                    <canvas id="doughnut" class="chart chart-doughnut"
                            chart-data="vm.data" chart-labels="vm.labels" chart-colors="vm.colors" chart-options="vm.options">
                    </canvas>
                    <div class="info-helpers">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <span class="title"><img src="../../../../SEO-Audit/app/content/img/CheckPassed.svg"
                                                         alt="Checked"> Check passed</span>
                                <span class="value">{{vm.model.success}}</span>
                            </li>
                            <li class="list-group-item"><span class="title"><img
                                    src="../../../../SEO-Audit/app/content/img/Warning.svg"
                                    alt="Warning"> Warning</span>
                                <span class="value">{{vm.model.warning}}</span>
                            </li>
                            <li class="list-group-item"><span class="title"><img
                                    src="../../../../SEO-Audit/app/content/img/Error.svg" alt="Error"> Error</span>
                                <span class="value">{{vm.model.error}}</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="ScopeByCategories desktopChart">
                    <h3 class="header-ScopeByCategories">Scope by categories</h3>
                    <canvas  class="chart chart-horizontal-bar"
                            chart-data="vm.dataCategories" chart-labels="vm.labelsCategoriesDesktop" chart-colors="vm.colorsCategories">
                    </canvas>
                </div>
                <div class="ScopeByCategories mobileChart">
                    <h3 class="header-ScopeByCategories">Scope by categories</h3>
                    <canvas  class="chart chart-bar"
                            chart-data="vm.dataCategories" chart-labels="vm.labelsCategoriesMobile" chart-colors="vm.colorsCategories">
                    </canvas>
                    <ul class="labels-ScopeByCategory-InitialIndicator list-group">
                        <li class="list-group-item" ng-repeat="label in vm.labelsCategoriesDesktop" >
                            <span ng-style="{
                                'border-color': vm.colorsCategories[$index]
                            }">{{$index+1}}). {{label}}</span></li>
                    </ul>
                </div>
                <!--<div class="ListScopeByCategories">-->
                <!--<h3 class="header-ScopeByCategories">List</h3>-->
                <!--</div>-->
            </div>
        </div>
    </div>


    <div class="row">
        <div class="panel panel-default">
            <div class="panel-body initialInformationContainer">
                <div class="Total-container" ng-click="vm.total()" ng-class="vm.selectedCategory == vm.category[0] ? 'selectedCategory': ''">
                    <span class="title"><img
                            src="../../../../SEO-Audit/app/content/img/total.svg"
                            alt="Warning"><span class="hideElement">Total</span></span>
                    <span class="value">{{vm.model.total}}</span>
                </div>
                <div class="Checks-passed" ng-click="vm.checkPassed()" ng-class="vm.selectedCategory == vm.category[1] ? 'selectedCategory': ''">
                    <span class="title"><img
                            src="../../../../SEO-Audit/app/content/img/CheckPassed.svg"
                            alt="Warning"><span class="hideElement">Checks passed</span></span>
                    <span class="value">{{vm.model.success}}</span>
                </div>
                <div class="Warning" ng-click="vm.warning()" ng-class="vm.selectedCategory == vm.category[2] ? 'selectedCategory': ''">
                    <span class="title"><img
                        src="../../../../SEO-Audit/app/content/img/Warning.svg"
                        alt="Warning"><span class="hideElement">Warnings</span></span>
                    <span class="value">{{vm.model.warning}}</span>
                </div>
                <div class="Errors"  ng-click="vm.error()" ng-class="vm.selectedCategory == vm.category[3] ? 'selectedCategory': ''">
                    <span class="title">
                        <img src="../../../../SEO-Audit/app/content/img/Error.svg"
                        alt="Warning"><span class="hideElement">Errors</span></span>
                    <span class="value">{{vm.model.error}}</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="popup" tabindex="-1" role="dialog" aria-labelledby="popup">
    <ng-include src="vm.template"></ng-include>
</div>