.header-initialIndicators {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-initial {
    margin-right: 20px;
}

.container-initialIndicator {

}

.container-keyword {
    padding: 20px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    border-radius: 4px;
}

.container-initialchart {
    padding: 0 20px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    border-radius: 4px;
}

.keywords {
    background: #ddd;
    padding: 1px 5px;
    border-radius: 4px;
}

.containerInitialIndicator {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/*.OverallScope,*/
/*.ScopeByCategories,*/
/*.ListScopeByCategories{*/
/*width: 30%;*/
/*}*/

.OverallScope {
    width: 30%;
    /*flex-grow: 1;*/
}
.OverallScope .success{
    color:#4cc048;
}
.ScopeByCategories {
    margin: 0 0 0 3%;

    /*flex-grow: 2;*/
    width: 67%;
}

.header-OverallScope,
.header-ScopeByCategories {
    margin-top: 0;
}

.info-helpers {
    margin-top: 20px;
}

.info-helpers .title > img {
    margin-right: 10px;

}

.info-helpers .list-group-item {
    display: flex;
    justify-content: space-between;
    border: none;
}

.initialInformationContainer {
    display: flex;
    padding: 0;
}

.Total-container,
.Checks-passed,
.Warning,
.Errors {
    width: 25%;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.Total-container .title > img,
.Checks-passed .title > img,
.Warning .title > img,
.Errors .title > img {
    margin-right: 10px;
}

.Total-container,
.Checks-passed,
.Warning {
    border-right: 1px solid #ccc;
}

.initialInformationContainer > div {
    cursor: pointer;
}

.selectedCategory {
    background: #f2f2f2;
}

.separator {
    border-bottom: 1px solid #ccc;
}

.check-block .well {
    margin: 0;
    padding: 10px 20px;
}

.labels-ScopeByCategory-InitialIndicator {
    padding-left: 10px;
}

.labels-ScopeByCategory-InitialIndicator li {
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.labels-ScopeByCategory-InitialIndicator li span {
    display: block;
    width: 100%;
    border-right: 5px solid transparent;
}

.total-percent {
    font-size: 24px;
    font-weight: 700;
    position: absolute;
    top: 55%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 50px; /* Need a specific value to work */
}

.hideElement-initialIndicators {
    display: none;
!important;
}
.pdf-popup{
    padding: 10px 0;
}
.pdf-popup > li {
    cursor: pointer;
    padding: 5px 10px;
}
.pdf-popup > li:hover {
    background: #ccc;
}
@media screen and (max-width: 992px) {
    .containerInitialIndicator {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .OverallScope {
        width: 50%;
    }

    .ScopeByCategories {
        margin: 0;

        /*flex-grow: 2;*/
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .header-initialIndicators {
        flex-direction: column;

    }

    .buttonContainer-initialIndicator {
        margin: 20px 0 0 0;
    }

    .OverallScope {
        width: 70%;
    }
}

@media screen and (max-width: 400px) {
    .header-initialIndicators h4 {
        display: flex;
        flex-direction: column;
    }

    .header-initialIndicators h4 strong {
        margin-bottom: 10px;
    }

    .OverallScope {
        width: 100%;
    }
}