<div class="row containerComponent">
    <div class="content-header">
        <h2>{{vm.model.name}}</h2>
    </div>
    <div ng-if="vm.model.warning > 0" class="content-error">
        <div class="warning-block">
            <img src="../../../../SEO-Audit/app/content/img/Warning.svg"
                 alt="Warning">
            {{vm.model.warning}}
        </div>
        <div  ng-if="vm.model.error > 0" class="error-block">
            <img src="../../../../SEO-Audit/app/content/img/Error.svg"
                 alt="Error">
            {{vm.model.error}}
        </div>
    </div>
</div>
<div class="row">
    <div class="alert alert-info" ng-if="vm.model.description" role="alert">{{vm.model.description}}</div>
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="item in vm.model.criterias">
            <div class="component-item">
                <div class="component-title-container">
                    <h4 class="component-title">
                        <img ng-if="item.checked == 'passed'"
                             src="../../../../SEO-Audit/app/content/img/CheckPassed.svg"
                             alt="Check">
                        <img ng-if="item.checked == 'warning'"
                             src="../../../../SEO-Audit/app/content/img/Warning.svg"
                             alt="Check">
                        <img ng-if="item.checked == 'error'"
                             src="../../../../SEO-Audit/app/content/img/Error.svg"
                             alt="Check">
                        {{item.name}}
                    </h4>
                    <div class="component-TitleDescription" ng-bind-html="item.content"></div>
                </div>
                <div class="component-content">
                    <div class="component-information">
                        <div class="component-text" ng-bind-html="item.rationale"></div>
                        <div class="component-description">test</div>
                    </div>
                    <div class="component-details-block">
                        <button class="btn btn-primary" type="button" data-toggle="collapse"
                                data-target="#{{'pageTitle' + item.id}}" aria-expanded="false" aria-controls="{{'pageTitle' + item.id}}">
                            Details
                        </button>
                    </div>
                </div>
            </div>
            <div class="collapse" id="{{'pageTitle' + item.id}}">
                <div class="well">
                    {{item.description}}
                </div>
            </div>
        </li>
    </ul>
</div>