<div class="row containerComponent">
    <div class="content-header">
        <h2>{{vm.model.name}}</h2>
    </div>
    <div ng-if="vm.model.warning > 0" class="content-error">
        <div class="warning-block">
            <img src="../../../../SEO-Audit/app/content/img/Warning.svg"
                 alt="Warning">
            {{vm.model.warning}}
        </div>
        <div ng-if="vm.model.error > 0" class="error-block">
            <img src="../../../../SEO-Audit/app/content/img/Error.svg"
                 alt="Error">
            {{vm.model.error}}
        </div>
    </div>
</div>
<div class="row">
    <div class="alert alert-info" ng-if="vm.model.description" role="alert">{{vm.model.description}}</div>
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="item in vm.model.criterias">
            <div class="component-item">
                <div class="component-title-container">
                    <h4 class="component-title">
                        <img ng-if="item.checked == 'passed'"
                             src="../../../../SEO-Audit/app/content/img/CheckPassed.svg"
                             alt="Check">
                        <img ng-if="item.checked == 'warning'"
                             src="../../../../SEO-Audit/app/content/img/Warning.svg"
                             alt="Check">
                        <img ng-if="item.checked == 'error'"
                             src="../../../../SEO-Audit/app/content/img/Error.svg"
                             alt="Check">

                        <div ng-if="vm.isString(item.name)">{{item.name}}</div>
                        <div  ng-if="!vm.isString(item.name)">{{item.name[0]}}</div>
                    </h4>
                    <div class="component-title-info"  ng-if="!vm.isString(item.name)">{{item.name[1]}}</div>
                    <!--<div class="component-TitleDescription">test</div>-->
                    <div class="component-TitleLinks" ng-if="item.content">
                        <button class="btn btn-success" type="button" ng-click="vm.openLinks(item.content)">
                            <span class="glyphicon glyphicon-random" aria-hidden="true"></span>
                            Get the backlinks
                        </button>
                    </div>
                </div>
                <div class="component-content" >
                    <div class="component-information" ng-if="vm.isString(item.rationale)">
                        <div class="component-text" ng-bind-html="item.rationale"></div>
                        <!--<div class="component-description" ng-bind-html="item.rationale[1]"></div>-->
                    </div>
                    <div class="component-information" ng-if="!vm.isString(item.rationale)">
                        <div class="component-text" ng-bind-html="item.rationale[0]"></div>
                        <div class="component-description" ng-bind-html="item.rationale[1]"></div>
                    </div>
                    <div class="component-details-block">
                        <button class="btn btn-primary" type="button" data-toggle="collapse"
                                data-target="#{{'major' + item.id}}" aria-expanded="false"
                                aria-controls="{{'major' + item.id}}">
                            Details
                        </button>
                    </div>
                </div>
            </div>
            <div class="collapse" id="{{'major' + item.id}}">
                <div class="well">
                    {{item.description}}
                </div>
            </div>
        </li>
    </ul>
</div>

<div class="modal fade" id="links" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Links</h4>
            </div>
            <div class="modal-body">
                <div class="linksContent" ng-repeat="link in vm.linksContent">{{link}}</div>
                <div class="well well-sm">
                    It is recommended to load only the unique domain backlinks to avoid
                    excessive data from the websites where links are sitewide or places on multiple pages. Only the
                    first 50000 backlinks will be loaded

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>