<loader></loader>
<div class="container containerApp" id="style-2">
    <header-dir data-links="vm.links"></header-dir>
    <initial-indicators model="vm.data"></initial-indicators>
    <major-domain-charactiristics model="vm.data.audits[0]" ng-if="vm.categories[0]"></major-domain-charactiristics>
    <pages-title model="vm.data.audits[1]" ng-if="vm.categories[1]"></pages-title>
    <meta-description model="vm.data.audits[2]" ng-if="vm.categories[2]"></meta-description>
    <page-url-structure model="vm.data.audits[3]" ng-if="vm.categories[3]"></page-url-structure>
    <index-status-cached-snapshot model="vm.data.audits[4]" ng-if="vm.categories[4]"></index-status-cached-snapshot>
    <images-analysis model="vm.data.audits[5]" ng-if="vm.categories[5]"></images-analysis>
    <content-analysis model="vm.data.audits[6]" ng-if="vm.categories[6]"></content-analysis>
    <header-tags model="vm.data.audits[7]" ng-if="vm.categories[7]"></header-tags>
    <keyword-density model="vm.data.audits[8]" ng-if="vm.categories[8]"></keyword-density>
    <links-analysis model="vm.data.audits[9]" ng-if="vm.categories[9]"></links-analysis>
    <load-speed model="vm.data.audits[10]" ng-if="vm.categories[10]"></load-speed>
    <page-load-optimization model-mobile="vm.data.audits[11]"
                            model-desktop="vm.data.audits[12]"></page-load-optimization>
    <popularity-social-media model="vm.data.audits[13]" ng-if="vm.categories[13]"></popularity-social-media>
    <usability-technical-analysis model="vm.data.audits[14]" ng-if="vm.categories[14]"></usability-technical-analysis>
</div>
